{% extends "layout.html" %}
{% block content %}
      <!-- parallax top-->
      <!-- Breadcrumbs -->
      <section class="bg-gray-7">
        <div class="breadcrumbs-custom box-transform-wrap context-dark">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">About_us</h3>
            <div class="breadcrumbs-custom-decor"></div>
          </div>
          <div class="box-transform" style="background-image: url(images/bg-1.jpg);"></div>
        </div>
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">About us</li>
          </ul>
        </div>
      </section>
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left" id="tabs-4">
            <div class="col-lg-4 col-xl-3">
              <h5 class="text-spacing-200 text-capitalize">Why R_Armstrong</h5>
              <ul class="nav list-category list-category-down-md-inline-block">
                <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s"><a class="active" href="#tabs-4-1" data-toggle="tab">About us</a></li>
                <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".1s"><a href="#tabs-4-2" data-toggle="tab">What is Armstrong Number</a></li>
                <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".2s"><a href="#tabs-4-3" data-toggle="tab">How to calculate Armstrong Number</a></li>
              </ul><a class="button button-xl button-primary button-winona" href="/contact">Contact us</a>
            </div>
            <div class="col-lg-8 col-xl-9">
              <!-- Tab panes-->
              <div class="tab-content tab-content-1">
                <div class="tab-pane fade show active" id="tabs-4-1">
                  <h4>About Us</h4>
                  <p>Welcome to R_Armstrong Numbers, your go-to platform for learning and exploring the fascinating world of Armstrong numbers. We are passionate about numbers and their unique properties, and we're excited to share our knowledge with you.</p>
                  <br>
                  <h4>What We Offer</h4>
                  <p>At R_Armstrong Numbers, we offer a comprehensive resource for anyone interested in learning about Armstrong numbers. Whether you're a beginner looking to understand the basics or an enthusiast eager to delve deeper into the mathematics behind Armstrong numbers, our platform has something for everyone.</p>
                  <img src="./static/images/armstrong-number.jpg" alt="" width="835" height="418"/>
                </div>
                <div class="tab-pane fade" id="tabs-4-2">
                  <h4>What is an Armstrong Number?</h4>
<p>An Armstrong number is a number that is equal to the sum of its own digits raised to the power of the number of digits it has. For example, let's take the number 153. It has 3 digits, so we raise each digit to the power of 3 (the number of digits) and then sum them up:
<br><br>
  1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153
  <br><br>
  As you can see, the sum of the cubes of its digits equals the number itself, making 153 an Armstrong number.</p>                </div>
                <div class="tab-pane fade" id="tabs-4-3">
                  <h4>How To Calculate Armstrong Number</h4>
<p>An Armstrong number (also known as a narcissistic number or plenary number) is a number that is equal to the sum of its own digits each raised to the power of the number of digits. <br><br>In other words, let's say we have a number "abcd...n" where "a", "b", "c", ..., "n" are its digits (in base 10).<br> The number is considered an Armstrong number if:

  a^n + b^n + c^n + ... + n^n = abcd...n
  <br><br>
  Let's see another example, 153 is an Armstrong number because:
  
  1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153
  <br>
  The number 153 is equal to the sum of its own digits (1, 5, and 3), each raised to the power of 3, which is the total number of digits in the number.</p>              
  </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>

    
      <!-- Our Team-->
      <section class="section section-lg section-bottom-md-70 bg-default">
        <div class="container">
          <h3 class="oh"><span class="d-inline-block wow slideInUp" data-wow-delay="0s">our team</span></h3>
          <div class="row row-lg row-40 justify-content-center">
            <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="1s">
              <!-- Team Modern-->
              <article class="team-modern"><a class="team-modern-figure" href="#"><img src="../static/images/team-01-270x236.jpg" alt="" width="270" height="236"/></a>
                <div class="team-modern-caption">
                  <h6 class="team-modern-name"><a href="#">Shahzaib Abid</a></h6>
                  <div class="team-modern-status">Team Member</div>
                  <ul class="list-inline team-modern-social-list">
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-linkedin" href="#"></a></li>
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                  </ul>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
              <!-- Team Modern-->
              <article class="team-modern"><a class="team-modern-figure" href="#"><img src="../static/images/team-02-270x236.jpg" alt="" width="270" height="236"/></a>
                <div class="team-modern-caption">
                  <h6 class="team-modern-name"><a href="#">Malik Uzair</a></h6>
                  <div class="team-modern-status">Team Member</div>
                  <ul class="list-inline team-modern-social-list">
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-linkedin" href="#"></a></li>
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                  </ul>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
              <!-- Team Modern-->
              <article class="team-modern"><a class="team-modern-figure" href="#"><img src="../static/images/team-03-270x236.jpg" alt="" width="270" height="236"/></a>
                <div class="team-modern-caption">
                  <h6 class="team-modern-name"><a href="#">Ayesha</a></h6>
                  <div class="team-modern-status">Team Member</div>
                  <ul class="list-inline team-modern-social-list">
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-linkedin" href="#"></a></li>
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                  </ul>
                </div>
              </article>
            </div>
          
          </div>
        </div>
      </section>
    
<!-- What people say about us-->
<section class="section section-xl bg-default">
  <div class="container">
    <h3 class="wow fadeInLeft">What People Say About R_Armstrong</h3>
  </div>
  <div class="container container-style-1">
    <div class="owl-carousel owl-style-12" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" data-xl-margin="45" data-autoplay="true" data-nav="true" data-center="true" data-smart-speed="400">
      <!-- Quote Tara-->
      <article class="quote-tara">
        <div class="quote-tara-caption">
          <div class="quote-tara-text">
            <p class="q">R_Armstrong is an amazing platform to learn Armstrong numbers. I love how they are educating.</p>
          </div>
          <div class="quote-tara-figure"><img src="../static/images/1.png" alt="" width="115" height="115"/>
          </div>
        </div>
        <h6 class="quote-tara-author">Ashley Fitzgerald</h6>
        <div class="quote-tara-status">R_Armstrong User</div>
      </article>
      <!-- Quote Tara-->
      <article class="quote-tara">
        <div class="quote-tara-caption">
          <div class="quote-tara-text">
            <p class="q">R_Armstrong helped me in understanding Armstrong numbers. The step-by-step tutorials have really helped me solidify my knowledge.</p>
          </div>
          <div class="quote-tara-figure"><img src="../static/images/2.png" alt="" width="115" height="115"/>
          </div>
        </div>
        <h6 class="quote-tara-author">Stephanie Williams</h6>
        <div class="quote-tara-status">R_Armstrong User</div>
      </article>
      <!-- Quote Tara-->
      <article class="quote-tara">
        <div class="quote-tara-caption">
          <div class="quote-tara-text">
            <p class="q">The platform offers a comprehensive understanding of the topic, and the user-friendly interface makes learning enjoyable</p>
          </div>
          <div class="quote-tara-figure"><img src="../static/images/3.png" alt="" width="115" height="115"/>
          </div>
        </div>
        <h6 class="quote-tara-author">Bill Johnson</h6>
        <div class="quote-tara-status">R_Armstrong User</div>
      </article>
      <!-- Quote Tara-->
      <article class="quote-tara">
        <div class="quote-tara-caption">
          <div class="quote-tara-text">
            <p class="q">I've been using R_Armstrong to brush up on my Armstrong number skills, and it's been an incredible learning experience. </p>
          </div>
          <div class="quote-tara-figure"><img src="../static/images/4.png" alt="" width="115" height="115"/>
          </div>
        </div>
        <h6 class="quote-tara-author">Aaron Wilson</h6>
        <div class="quote-tara-status">R_Armstrong User</div>
      </article>
    </div>
  </div>
</section>
    

      {% endblock %}