{%extends "alayout.html"%}

{% block content %}  
<div id="layoutSidenav">
<div id="layoutSidenav_nav">
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
<div class="sb-sidenav-menu">
<div class="nav">
<div class="sb-sidenav-menu-heading"></div>
<a class="nav-link" href="/aindex">
<div class="sb-nav-link-icon">
<i class="fas fa-tachometer-alt"></i></div>
 Dashboard
</a>
<a class="nav-link" href="/auser">
<div class="sb-nav-link-icon"><i class="fa-regular fa-user"></i></i></div>
Users
</a>                       
                   
<a class="nav-link" href="/afeedback">
<div class="sb-nav-link-icon"><i class="fa-regular fa-comment"></i></i></div>
Feedback
</a>   

<a class="nav-link" href="/auserattempt">
<div class="sb-nav-link-icon"><i class="fa-regular fa-comment"></i></i></div>
User Attempts
</a>  

</div>
</div>
<div class="sb-sidenav-footer">
<div class="small">Logged in as:</div>
 Admin
</div>
</nav>
</div>
<div id="layoutSidenav_content">
<main>
<div class="container-fluid px-4">
<h1 class="mt-4">DASHBOARD</h1>
<ol class="breadcrumb mb-4">
<li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
<div class="col-xl-3 col-md-6">
<div class="card bg-primary text-white mb-4">
<div class="card-body">Total users</div>
<div class="card-footer d-flex align-items-center justify-content-between">
<a class="small text-white stretched-link" href="#">View Details</a>
<div class="small text-white"><i class="fas fa-angle-right"></i></div>
</div>
</div>
</div>         
<div class="col-xl-3 col-md-6">
<div class="card bg-warning text-white mb-4">
<div class="card-body">Today users</div>
<div class="card-footer d-flex align-items-center justify-content-between">
<a class="small text-white stretched-link" href="#">View Details</a>
<div class="small text-white"><i class="fas fa-angle-right"></i></div>
</div>
</div>
</div>
<div class="col-xl-3 col-md-6">
<div class="card bg-success text-white mb-4">
<div class="card-body">Visitors</div>
<div class="card-footer d-flex align-items-center justify-content-between">
<a class="small text-white stretched-link" href="#">View Details</a>
<div class="small text-white"><i class="fas fa-angle-right"></i></div>
</div>
</div>
</div>
<div class="col-xl-3 col-md-6">
<div class="card bg-danger text-white mb-4">
<div class="card-body">Total visitors</div>
<div class="card-footer d-flex align-items-center justify-content-between">
<a class="small text-white stretched-link" href="#">View Details</a>
<div class="small text-white"><i class="fas fa-angle-right"></i></div>
</div>
</div>
</div>
</div>                          
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-table me-1"></i>
Database Feedback table
</div>
<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">ID</th>
<th scope="col">NAME</th>
<th scope="col">EMAIL</th>
<th scope="col">RATING</th>
<th scope="col">IMPROVE</th>
</tr>
</thead>
<tbody>                      
{% for feedback in posts %}
<tr>
<td>{{feedback.id}}</td>
<td>{{feedback.name}}</td>
<td>{{feedback.email}}</td>
<td>{{feedback.rating}}</td>
<td>{{feedback.improve}}</td>  
</tr>
{%endfor%}
</tbody>
</table>
</div>                      
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-table me-1"></i>
Database Users table
</div>
<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">ID</th>
<th scope="col">NAME</th>
<th scope="col">USER NAME</th>
<th scope="col">EMAIL</th>
<th scope="col">PHONE</th>
<th scope="col">PASSWORD</th>                                  
</tr>
</thead>
<tbody>
{% for users in post1 %}
<tr>
<td>{{users.id}}</td>
<td>{{users.name}}</td>
<td>{{users.username}}</td>
<td>{{users.email}}</td>
<td>{{users.phone}}</td> 
<td>{{users.password}}</td>  
</tr>
{%endfor%}
</tbody>
</table>
</div>                       
</div>
</div>
</div>
</main>
</div>
</div>
{% endblock %}