
{%extends "ulayout.html" %}

{% block content%}

  <!-- Page Content  -->
  <div class="profile-container" style="height:250px;">
    <div class="profile-header">
      <h5>Calculate Armstrong Number</h5>
    </div>
  
    <form action="#" method="post">
      <!-- Existing fields -->
      <div class="form-group">
        <label for="username">Enter A Number</label>
        <input type="number" id="number" name="number"  required maxlength="5">
      </div>
        
      <button style="padding: 8px 16px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">Submit</button>  
      </form>
      <center>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                <h5>{{ error_message }}</h5>
            </div>
        {% elif result is not none %}
            {% if result %}
                <div class="alert alert-success" role="alert">
                    <h5>The entered number is an Armstrong number!</h5>
                </div>
                
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <h5>Not an Armstrong number.</h5>
                </div>
            {% endif %}
        {% endif %}
    </center>
    
  </div>
  
  

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>


{%endblock%}