  
{%extends "ulayout.html" %}

{% block content%}

  <!-- Page Content  -->
 
          
  <div class="profile-container">
    <div class="profile-header">
      <h2>Edit Profile</h2>
    </div>
  
    <form action="#" method="post" enctype="multipart/form-data">
      <!-- Existing fields -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{post.username}}" required disabled>
      </div>
      <div class="form-group">
        <label for="username">Name</label>
        <input type="text" id="name" name="name" value="{{post.name}}" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{post.email}}" required disabled>
      </div>
  
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" value="{{post.phone}}" required>
      </div>
    
      <button style="padding: 8px 16px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">Save Changes</button>    </form>
  </div>
  
  
  
  

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>


{%endblock%}