<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>R_Armstrong</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="preloader">
      <div class="wrapper-triangle">
        <div class="pen">
          <div class="line-triangle">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
          </div>
          <div class="line-triangle">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
          </div>
          <div class="line-triangle">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
     
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap" style="background-color:#000;">
          <nav class="rd-navbar rd-navbar-modern"  data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="56px" data-xl-stick-up-offset="56px" data-xxl-stick-up-offset="56px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner-outer" >
              <div class="rd-navbar-inner" >
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel" >
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.html"><img class="brand-logo-dark" src="../static/images/RArmstrong.png" alt="" width="198" height="66"/></a></div>
                </div>
                <div class="rd-navbar-right rd-navbar-nav-wrap" >
                  
                  <div class="rd-navbar-main">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav" style="width:1000px;">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/about">About_us</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contact_Us</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/feedback">Feedback</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/signin">Sign_in</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/register">Register</a>
                      </li>
                     
                    </ul>
                  </div>
                </div>
            
            


              </div>
            </div>
          </nav>
        </div>
      </header>

      {% block content %}
      {% endblock %}

          <!-- Page Footer-->
          <footer class="section footer-modern context-dark footer-modern-2">
          
            <div class="footer-modern-line-2">
              <div class="container">
                <div class="row row-30 align-items-center">
                  <div class="col-sm-6 col-md-7 col-lg-4 col-xl-4">
                    <h5 class="footer-modern-title oh-desktop"><span class="d-inline-block wow slideInLeft" style="color:#000;">About R_Armstrong</span></h5>
                    <ul class="footer-modern-list d-inline-block d-sm-block wow fadeInUp">
                      <li><a href="about-us.html">About_us</a></li>
                      <li><a href="#">Feedback</a></li>
                    
                  
                      <li><a href="#">Sign_in</a></li>
                      <li><a href="contacts.html">Contact_Us</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 col-md-12 col-lg-8 col-xl-8 oh-desktop">
                    <div class="group-xmd group-sm-justify">
                      <div class="footer-modern-contacts wow slideInUp">
                        <div class="unit unit-spacing-sm align-items-center">
                          <div class="unit-left"><span class="icon icon-24 mdi mdi-phone"></span></div>
                          <div class="unit-body"><a class="phone" href="tel:#">+92 333-999-3939</a></div>
                        </div>
                      </div>
                      <div class="footer-modern-contacts wow slideInDown">
                        <div class="unit unit-spacing-sm align-items-center">
                          <div class="unit-left"><span class="icon mdi mdi-email"></span></div>
                          <div class="unit-body"><a class="mail" href="mailto:#">info@rarmstrong.com</a></div>
                        </div>
                      </div>
                      <div class="wow slideInRight">
                        <ul class="list-inline footer-social-list footer-social-list-2 footer-social-list-3">
                          <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                          <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                          <li><a class="icon mdi mdi-linkedin" href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-modern-line-3">
              <div class="container">
                <div class="row row-10 justify-content-between">
                  <div class="col-md-6"><span>Defense Phase 2, Street 73, Karachi.</span></div>
                  <div class="col-md-auto">
                    <!-- Rights-->
                    <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span></span><span>.&nbsp;</span><span>All Rights Reserved.</span><span> Design&nbsp;by&nbsp;Team R_Armstrong</a></span></p>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <!-- Global Mailform Output-->
        <div class="snackbars" id="form-output-global"></div>
        <!-- Javascript-->
        <script src="../static/js/core.min.js"></script>
        <script src="../static/js/script.js"></script>
        <!-- coded by Himic-->
      </body>
    </html>