{% extends "layout.html" %}
{% block content %}
 <!-- Breadcrumbs -->
 <section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
      <div class="container">
        <h3 class="breadcrumbs-custom-title">Register</h3>
        <div class="breadcrumbs-custom-decor"></div>
      </div>
      <div class="box-transform" style="background-image: url(images/bg-1.jpg);"></div>
    </div>
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li class="active">Register</li>
      </ul>
    </div>
  </section>
  <!-- Register Form-->
<section class="section section-sm section-first bg-default">
    <div class="container">
      <h3 class="heading-3">Register Form</h3>
      <form class="rd-form rd-mailform form-style-1" data-form-type="contact" method="post" action="/register">
        <div class="row row-20 gutters-20">
            <div class="col-md-6 col-lg-4 oh-desktop">
                <div class="form-wrap wow slideInUp">
                  <input placeholder="Enter Your Name"class="form-input" type="text" name="name" data-constraints="@Required">

                </div>
              </div>
              <div class="col-md-6 col-lg-4 oh-desktop">
                <div class="form-wrap wow slideInUp">
                  <input placeholder="Enter Your Username"class="form-input" type="text" name="username" placeholder="Enter your username" data-constraints="@Required">
                  
                </div>
              </div>
          <div class="col-md-6 col-lg-4 oh-desktop">
            <div class="form-wrap wow slideInUp">
              <input  placeholder="Enter your Email" class="form-input" type="email" name="email" data-constraints="@Required">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 oh-desktop">
            <div class="form-wrap wow slideInUp">
              <input placeholder="Enter your Phone" class="form-input" type="tel" name="phone" data-constraints="@Required">
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 oh-desktop">
            <div class="form-wrap wow slideInUp">
              <input placeholder="Enter Your Password" class="form-input" type="password" name="password" data-constraints="@Required">
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 oh-desktop">
            <div class="form-wrap wow slideInUp">
                <button class="button button-sm button-primary button-winona wow fadeInRight" type="submit">Click To Register</button>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 oh-desktop">
            <div class="form-wrap wow slideInUp">
          <a href="/signin">Already Registered? Login Here</a>
            </div>
          </div>
        </div>
  
      </form>
    </div>
  </section>

{% endblock %}