{% extends "layout.html" %}
{% block content %}
 <!-- Breadcrumbs -->
 <section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
      <div class="container">
        <h3 class="breadcrumbs-custom-title">Login Here</h3>
        <div class="breadcrumbs-custom-decor"></div>
      </div>
      <div class="box-transform" style="background-image: url(images/bg-1.jpg);"></div>
    </div>
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li class="active">login</li>
      </ul>
    </div>
  </section>

  <!-- Login Form-->
<section class="section section-sm section-first bg-default">
    <div class="container">
      <h3 class="heading-3">Login Form</h3>
      <form class="rd-form rd-mailform form-style-1" data-form-output="form-output-global" data-form-type="contact" method="post" action="./user">
        <div class="row row-20 gutters-20">
          
          <div class="col-md-6 col-lg-4 oh-desktop">
            <div class="form-wrap wow slideInUp">
              <input placeholder="Enter Your Email" class="form-input" id="contact-email-6" type="email" name="email" data-constraints="@Email @Required">
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 oh-desktop">
            <div class="form-wrap wow slideInUp">
              <input  placeholder="Enter Your Password"class="form-input" type="password" name="password" data-constraints="@Required">
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 oh-desktop">
            <div class="form-wrap wow slideInUp">
                <button class="button button-sm button-primary button-winona wow fadeInRight" type="submit">Login</button>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 oh-desktop">
            <div class="form-wrap wow slideInUp">
          <a href="/register">Not Registered Yet? Register Here</a>
            </div>
          </div>
        </div>
  
      </form>
    </div>
  </section>

{% endblock %}